.flex_cell.av-l3szpg70-874d64f0a01c114d879df26f24cac295{
vertical-align:middle;
padding:0px 0px 0px 0px;
}

.flex_column.av-l3t6vrtm-c7c88f9dac77f22ae237982d541e2b23{
padding:30px 30px 30px 30px;
}
.flex_column.av-l3t6vrtm-c7c88f9dac77f22ae237982d541e2b23 .avia-curtain-reveal-overlay{
background:#f8f8f8;
z-index:1;
}

.avia-image-container.av-z26fk-e8e920ac7ed25f81fee6ede491de1eae img.avia_image{
box-shadow:none;
}
.avia-image-container.av-z26fk-e8e920ac7ed25f81fee6ede491de1eae .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-l3szplqc-1c51ff051baaf885263679f049cb0a43{
vertical-align:middle;
padding:0px 0px 0px 0px;
}

.flex_column.av-l3szqp26-60f9ed35e51d1890e25ec51a64846397{
padding:30px 30px 30px 30px;
background:url(../2022/05/startup_dark.jpg) 0% 50% no-repeat scroll ;
}
.flex_column.av-l3szqp26-60f9ed35e51d1890e25ec51a64846397 .avia-curtain-reveal-overlay{
background:#ffffff;
z-index:1;
}

.avia-image-container.av-q2u00-95fb80d12d46578c1b1e501ed23c397a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-q2u00-95fb80d12d46578c1b1e501ed23c397a .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-kz5g1n7y-85723ed01f67f7c6db5a9fcfb6ef20b1{
margin-top:0px;
margin-bottom:80px;
z-index:10;
position:relative;
}
.av-curtain-footer.av-curtain-activated #main .avia-section.av-kz5g1n7y-85723ed01f67f7c6db5a9fcfb6ef20b1{
z-index:10;
}

@-webkit-keyframes av_boxShadowEffect_av-kz5hamof-e3d9654880e3b0101d7040fac45d7504-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.2); opacity: 1; }
100% { box-shadow:  0 0 5px 0 rgba(0,0,0,0.2); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-kz5hamof-e3d9654880e3b0101d7040fac45d7504-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.2); opacity: 1; }
100% { box-shadow:  0 0 5px 0 rgba(0,0,0,0.2); opacity: 1; }
}
#top .flex_column_table.av-equal-height-column-flextable.av-kz5hamof-e3d9654880e3b0101d7040fac45d7504{
margin-top:-80px;
margin-bottom:0px;
}
.flex_column.av-kz5hamof-e3d9654880e3b0101d7040fac45d7504{
z-index:99;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
padding:50px 50px 50px 50px;
background-color:#ffffff;
}

#top .av-special-heading.av-dj574-fd5fbf51402e5a86da2e3eb4bab5e340{
padding-bottom:10px;
}
body .av-special-heading.av-dj574-fd5fbf51402e5a86da2e3eb4bab5e340 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-dj574-fd5fbf51402e5a86da2e3eb4bab5e340 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-15ly34-7b5b43d3c741dd9e12f111deaa8c7afa{
height:30px;
}

#top #wrap_all .avia-button.av-wmepk-4dc3e28b6e40b1f0723072ea2f81105d{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-wmepk-4dc3e28b6e40b1f0723072ea2f81105d:hover .avia_button_background{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
}

@-webkit-keyframes av_boxShadowEffect_av-kz5gwrwj-be4f2d9f29008cda15992a3e422bb9f8-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.2); opacity: 1; }
100% { box-shadow:  0 0 5px 0 rgba(0,0,0,0.2); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-kz5gwrwj-be4f2d9f29008cda15992a3e422bb9f8-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.2); opacity: 1; }
100% { box-shadow:  0 0 5px 0 rgba(0,0,0,0.2); opacity: 1; }
}
#top .flex_column_table.av-equal-height-column-flextable.av-kz5gwrwj-be4f2d9f29008cda15992a3e422bb9f8{
margin-top:-80px;
margin-bottom:0px;
}
.flex_column.av-kz5gwrwj-be4f2d9f29008cda15992a3e422bb9f8{
-webkit-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1);
z-index:110;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
padding:50px 50px 50px 50px;
background-color:#2d2d2d;
background:linear-gradient( to bottom right, #2d2d2d, #383838 );
}

#top .av-special-heading.av-kz5h2s5l-0a78d6ce7c8c7717c1dd6f8e671dc687{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-kz5h2s5l-0a78d6ce7c8c7717c1dd6f8e671dc687 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kz5h2s5l-0a78d6ce7c8c7717c1dd6f8e671dc687 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-kz5h2s5l-0a78d6ce7c8c7717c1dd6f8e671dc687 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-kz5h37os-f9ba08df862b49c239965562b3322f8e .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-kz5k342g-6f15439669c80716169388b85ab5a206{
height:30px;
}

#top #wrap_all .avia-button.av-kz5k24rj-4ace5a2466ec3e4f5b79e014400baa0f{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-kz5k24rj-4ace5a2466ec3e4f5b79e014400baa0f:hover .avia_button_background{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
}

@-webkit-keyframes av_boxShadowEffect_av-kz5gvtyq-541029ec2e6f999f719e0c52ea315914-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.2); opacity: 1; }
100% { box-shadow:  0 0 5px 0 rgba(0,0,0,0.2); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-kz5gvtyq-541029ec2e6f999f719e0c52ea315914-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.2); opacity: 1; }
100% { box-shadow:  0 0 5px 0 rgba(0,0,0,0.2); opacity: 1; }
}
#top .flex_column_table.av-equal-height-column-flextable.av-kz5gvtyq-541029ec2e6f999f719e0c52ea315914{
margin-top:-80px;
margin-bottom:0px;
}
.flex_column.av-kz5gvtyq-541029ec2e6f999f719e0c52ea315914{
z-index:99;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
padding:50px 50px 50px 50px;
background-color:#ffffff;
}

#top .av-special-heading.av-kz5gfgzs-6e19cc3c816458c3cc8356622306a805{
padding-bottom:10px;
}
body .av-special-heading.av-kz5gfgzs-6e19cc3c816458c3cc8356622306a805 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kz5gfgzs-6e19cc3c816458c3cc8356622306a805 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-oqxgo-893c0cc2ad03e0f9dd5bcb9a2a9ff15c{
height:30px;
}

#top #wrap_all .avia-button.av-kz5jzepf-f54f367cd42ec1cee19ac5cabf64869c{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-kz5jzepf-f54f367cd42ec1cee19ac5cabf64869c:hover .avia_button_background{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
}

#top .flex_column.av-l3hiswcr-232d755fe2a7453ff76e10f61b2c6863{
margin-top:-80px;
margin-bottom:0px;
}
.flex_column.av-l3hiswcr-232d755fe2a7453ff76e10f61b2c6863{
z-index:99;
}
.responsive #top #wrap_all .flex_column.av-l3hiswcr-232d755fe2a7453ff76e10f61b2c6863{
margin-top:-80px;
margin-bottom:0px;
}
.flex_column.av-l3hiswcr-232d755fe2a7453ff76e10f61b2c6863 .avia-curtain-reveal-overlay{
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
animation-duration:2s;
background:#ffffff;
z-index:100;
}

#top .av-rotator-container.av-kz5jge9h-10fd33962cd6973fb7f24167f7b16945{
text-align:center;
font-size:5vw;
color:#000000;
margin:0 0 0 0;
}
#top .av-rotator-container.av-kz5jge9h-10fd33962cd6973fb7f24167f7b16945 .av-rotator-container-inner{
font-size:5vw;
}

.flex_cell.av-l3sm2j2d-0c802c1e7ed4064cc6986465daf8d7a1{
vertical-align:middle;
padding:120px 120px 120px 120px;
}

#top .av-special-heading.av-l3sm88y3-f0b6d89eae3db01057dcd4d9b9b75d2d{
padding-bottom:10px;
}
body .av-special-heading.av-l3sm88y3-f0b6d89eae3db01057dcd4d9b9b75d2d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-l3sm88y3-f0b6d89eae3db01057dcd4d9b9b75d2d .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-259qwo-c55345d02383d75dbb3ea09c66f0359f{
height:60px;
}

#top #wrap_all .avia-button.av-l3sn0oe2-ae115d237483551935513a3cc1aba6b8{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-l3sn0oe2-ae115d237483551935513a3cc1aba6b8:hover .avia_button_background{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
}

.flex_cell.av-l3sm2rrf-cf19ed96a2703c945957aec30853effb{
vertical-align:middle;
padding:70px 70px 70px 70px;
}

.avia-image-container.av-l3sluu0i-35373ba2ab2d86093d37751187417d57{
z-index:110;
}
.avia-image-container.av-l3sluu0i-35373ba2ab2d86093d37751187417d57 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-l3sluu0i-35373ba2ab2d86093d37751187417d57 .av-image-caption-overlay-center{
color:#ffffff;
}
.avia-image-container.av-l3sluu0i-35373ba2ab2d86093d37751187417d57 .avia-curtain-reveal-overlay{
background:#ffffff;
z-index:100;
}

@-webkit-keyframes av_boxShadowEffect_av-l3slz2ga-09033625b8dbff48657e7a637169c54b {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 17px 0 rgba(0,0,0,0.3); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-l3slz2ga-09033625b8dbff48657e7a637169c54b {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 17px 0 rgba(0,0,0,0.3); opacity: 1; }
}
.avia-image-container.av-l3slz2ga-09033625b8dbff48657e7a637169c54b{
position:absolute;
top:40px;
left:-50px;
z-index:110;
}
.avia-image-container.av-l3slz2ga-09033625b8dbff48657e7a637169c54b .av-image-caption-overlay-center{
color:#ffffff;
}
.avia-image-container.av-l3slz2ga-09033625b8dbff48657e7a637169c54b .avia-curtain-reveal-overlay{
background:#ffffff;
z-index:100;
}
.avia-image-container.av-l3slz2ga-09033625b8dbff48657e7a637169c54b img.avia_image.avia_start_delayed_animation.shadow-animated{
-webkit-animation:av_boxShadowEffect_av-l3slz2ga-09033625b8dbff48657e7a637169c54b 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
-moz-animation:av_boxShadowEffect_av-l3slz2ga-09033625b8dbff48657e7a637169c54b 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
-o-animation:av_boxShadowEffect_av-l3slz2ga-09033625b8dbff48657e7a637169c54b 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
animation:av_boxShadowEffect_av-l3slz2ga-09033625b8dbff48657e7a637169c54b 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
-webkit-animation-delay:4s;
-moz-animation-delay:4s;
animation-delay:4s;
}

.flex_cell.av-1oaef4-2d9faab485f0f95d348316562a983d45{
vertical-align:middle;
padding:70px 70px 70px 70px;
}

.avia-image-container.av-l3smwbbb-e8aaf5c2334eb86d48acfdc5a0923ec9{
z-index:110;
}
.avia-image-container.av-l3smwbbb-e8aaf5c2334eb86d48acfdc5a0923ec9 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-l3smwbbb-e8aaf5c2334eb86d48acfdc5a0923ec9 .av-image-caption-overlay-center{
color:#ffffff;
}
.avia-image-container.av-l3smwbbb-e8aaf5c2334eb86d48acfdc5a0923ec9 .avia-curtain-reveal-overlay{
background:#ffffff;
z-index:100;
}

@-webkit-keyframes av_boxShadowEffect_av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 20px 0 rgba(0,0,0,0.3); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 20px 0 rgba(0,0,0,0.3); opacity: 1; }
}
.avia-image-container.av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9{
position:absolute;
top:40px;
right:-50px;
z-index:110;
}
.avia-image-container.av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 .av-image-caption-overlay-center{
color:#ffffff;
}
.avia-image-container.av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 .avia-curtain-reveal-overlay{
background:#ffffff;
z-index:100;
}
.avia-image-container.av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 img.avia_image.avia_start_delayed_animation.shadow-animated{
-webkit-animation:av_boxShadowEffect_av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
-moz-animation:av_boxShadowEffect_av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
-o-animation:av_boxShadowEffect_av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
animation:av_boxShadowEffect_av-l3smyzp5-7837361f3fded17d77b1bf265735e6e9 4s cubic-bezier(0.17,0.84,0.44,1) 1 forwards;
-webkit-animation-delay:4s;
-moz-animation-delay:4s;
animation-delay:4s;
}

.flex_cell.av-l3sn2t3l-9dbb83419f190def6908f957b80bc388{
vertical-align:middle;
padding:120px 120px 120px 120px;
}

#top .av-special-heading.av-1jsd34-a679fb89a6e916706828ece00c9d2102{
padding-bottom:10px;
}
body .av-special-heading.av-1jsd34-a679fb89a6e916706828ece00c9d2102 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1jsd34-a679fb89a6e916706828ece00c9d2102 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-ipoh4-7c1d3aaf90b648496be3539ffde6a54e{
height:60px;
}

#top #wrap_all .avia-button.av-l3sn1k2r-b89cf6a1f3d8acea450c745495113418{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-l3sn1k2r-b89cf6a1f3d8acea450c745495113418:hover .avia_button_background{
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
}

.flex_cell.av-l3syods3-585f9cc69acc438c078fad900f265c93{
vertical-align:middle;
padding:100px 0px 100px 0px;
background-color:#f8f8f8;
}

@-webkit-keyframes av_boxShadowEffect_av-l3sys9uw-7d644ea99b94bb0faa66f5a315413dab-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 15px 0 rgba(0,0,0,0.3); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-l3sys9uw-7d644ea99b94bb0faa66f5a315413dab-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 15px 0 rgba(0,0,0,0.3); opacity: 1; }
}
.flex_column.av-l3sys9uw-7d644ea99b94bb0faa66f5a315413dab{
position:relative;
left:200px;
box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
padding:100px 100px 100px 100px;
background-color:#ffffff;
}

#top .av-special-heading.av-1jn8w-58daf985ef3e4332bc03143dab3f101c{
padding-bottom:10px;
}
body .av-special-heading.av-1jn8w-58daf985ef3e4332bc03143dab3f101c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1jn8w-58daf985ef3e4332bc03143dab3f101c .av-subheading{
font-size:15px;
}

.flex_cell.av-l3sypxl7-1f174a48fafd3abead3866c7b5be2015{
vertical-align:middle;
padding:120px 120px 120px 120px;
background:url(../2022/05/ubiq-2Hq0WvL2Yc4-unsplash.jpg) 50% 50% no-repeat scroll ;
}

#top .av-masonry.av-l3t0hp54-5fe7bd48815533ba61a6d2affe9e146e{
background-color:#2d2d2d;
}
.av-masonry.av-l3t0hp54-5fe7bd48815533ba61a6d2affe9e146e .avia-curtain-reveal-overlay{
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration:1s;
background:#2d2d2d;
z-index:100;
}

.flex_cell.av-l3t0eyup-1d32f6c598878cccd9dd1599b64380a7{
vertical-align:middle;
padding:120px 120px 120px 120px;
background:url(../2022/05/amr-taha-UOMrO-JN-XQ-unsplash.jpg) 50% 50% no-repeat scroll ;
}

.flex_cell.av-l3t075ls-55fcd36c5a55ce6fb8d607f1b450aef3{
vertical-align:middle;
padding:100px 0 100px 0;
background:url(../2022/05/parallax_light.png) 100% 50% no-repeat scroll #2d2d2d;
}

@-webkit-keyframes av_boxShadowEffect_av-l3t08rf8-e24811b5792cede3fae5712ff6299745-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 15px 0 rgba(0,0,0,0.3); opacity: 1; }
}
@keyframes av_boxShadowEffect_av-l3t08rf8-e24811b5792cede3fae5712ff6299745-column {
0%   { box-shadow:  0 0 0 0 rgba(0,0,0,0.3); opacity: 1; }
100% { box-shadow:  0 0 15px 0 rgba(0,0,0,0.3); opacity: 1; }
}
.flex_column.av-l3t08rf8-e24811b5792cede3fae5712ff6299745{
box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
padding:50px 50px 50px 50px;
background-color:#ffffff;
}

#top .av-special-heading.av-l3t037w6-e07c3b3351a7d85fccbc39b99c593c57{
padding-bottom:10px;
}
body .av-special-heading.av-l3t037w6-e07c3b3351a7d85fccbc39b99c593c57 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-l3t037w6-e07c3b3351a7d85fccbc39b99c593c57 .av-subheading{
font-size:15px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.flex_column.av-l3sys9uw-7d644ea99b94bb0faa66f5a315413dab{
position:relative;
left:0px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.flex_column.av-l3sys9uw-7d644ea99b94bb0faa66f5a315413dab{
position:relative;
left:0px;
}
}

@media only screen and (max-width: 479px){ 
.flex_column.av-l3sys9uw-7d644ea99b94bb0faa66f5a315413dab{
position:relative;
left:0px;
}
}
